body {
    display: flex;
    flex-flow: column;
    font-family: sans-serif;
    color: black;
    text-align: center;
}

header {
    background-color: lightblue;
    font-size: 30px;
    text-decoration: none;
    text-align: center;
    padding: 20px;
}

header ul{
    list-style-type: none;
    justify-content: space-around;
    padding: 0;
    display: flex;
    margin: auto;
}

button{
    font-family: sans-serif;
    font-size: 20px;
    color: black;
    height: auto;
    width: auto;
    text-align: center;
    padding: 10px;
    margin: auto;
}

table{
    border-spacing: 0;
    border-collapse: collapse;
    margin: auto;
    border: 2px solid black;
    width: 100%;
    display: table;
}

.vertical_table th{
    border: 1px solid black;
    text-align: left;
    padding: 5px;
    width: 50%;
}

th{
    text-align: center;
    font-size: 20px;
    color: green;
}

td{
    text-align: left;
    border: 1px solid black;
    padding: 5px;
}

.align-left{
    float: left;
}

.align-right{
    float: right;
}

#logout{
    margin-right: 20px;
}

form{
    width: 50%;
    margin: auto;
    text-align: center;
}

form > button{
    width: 90%;
}

.element{
    text-align: center;
    padding: 10px;
    border: 2px solid red;
}

.label_and_field{
    display: block;
    margin: auto ;
}

.label_and_field label{
    float: left;
}
input{
    width: 100%;
    height: 25px;
    text-align: left;
    margin: auto;
    padding: 5px;
}

#chat_box{
    border: 2px solid black;
    height: 500px;
    text-align: left;
    margin: 10px;

}

#chat_input_box {
    display: inline-flex;
    width: 100%;
    height: 15%;
}

#chat_input_box * {
    height: 30px;
    margin: auto;
    padding-top: 0;
    padding-bottom: 0;
}

#messages {
    height: 85%;
    overflow-y: auto;
    list-style: none;
    padding: 0;
    margin: 0;
}

#messages li {
    padding: 5px 0;
}

#gameBoard {
    height: auto;
    margin: auto;
}

#game_container {
     display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
}

#game_container > .element {
    flex: 1;
}

#game_container > .element:nth-child(2) {
    flex: 2;
}

ol {
    width: 100%;
    margin: auto;
}

ol li {
    background-color: green;
    color: white;
    height: 20px;
    width: auto;
    min-width: 20px;
    max-width: 50px;

    padding: 5px;
    margin: 5px;
}

.central_element{
    margin: auto;
    width: 70%;
}

.table_button{
    width: 100%;
    height: 100%;
}