body{
    display: flex;
    flex-flow: column;
    font-family: sans-serif;
    color: black;
    text-align: center;
}

header{
    display: flex;
    flex-flow: column;
    background-color: lightblue;
    font-family: sans-serif;
    padding: 20px;
    font-size: 30px;
    text-decoration: none;
    margin: auto;
    text-align: center;
}

button{
    font-family: sans-serif;
    font-size: 20px;
    color: black;
    height: auto;
    width: auto;
    text-align: center;
    padding: 10px;
    margin: auto;
}

table{
    border-spacing: 0;
    border-collapse: collapse;
    width: 50%;
    margin: auto;
    text-align: center;
    border: 2px solid black;
}

th{
    text-align: center;
    font-size: 20px;
    color: green;
}

td{
    text-align: left;
    border: 1px solid black;
    padding: 5px;
    margin: 0;
    width: 50%;
}

.align-left{
    float: left;
}
.align-right{
    float: right;
}

.logout{
    margin-right: 20px;
}

.form{
    width: 50%;
    margin: auto;
    text-align: center;
}

.element{
    margin: 20px;
}

.label_and_field{
    display: block;
    margin: 10px 10px 5px;
}

.label_and_field label{
    float: left;
}
.form input{
    width: 100%;
    height: 25px;
    text-align: center;
}

.form button{
    width: 90%;
}

.chat_box{
    border: 2px solid black;
    width: 30%;
    height: 500px;
    text-align: left;
    padding: 10px;
    margin: 10px;

}

.chat_input_box{
    width: 100%;
    height: 15%;
}

#messages {
    height: 85%;
    overflow-y: auto;
    list-style: none;
    padding: 0;
    margin: 0;
}

#messages li {
    padding: 5px 0;
}