{% extends "base.html" %}
{% block content %}
<h1>Game</h1>

<div id="game_container" class="element">
    <div class="element align-left">
        {% include "chat.html" with context %}
    </div>

    <div class="element">
        {% include "racetrack.html" with context %}
        <div id="game-status" style="margin-top: 20px; font-size: 20px; font-weight: bold;"></div>
        <button id="readyButton" onclick="toggleReady()">Ready</button>
        <button id="rollButton" onclick="rollDice()" disabled>roll dice</button>
    </div>

    <div class="element align-right">
        <table>
            <tr>
                <th>players</th>
            </tr>
            <tbody id="playersList">
            </tbody>
        </table>
    </div>
</div>




<script>
    window.gameUsername = "{{ username }}";
    window.gameRoomId = "{{ room_id }}";
</script>
<script src="../static/game.js"></script>

{% endblock content %}